{% extends "base.html" %}

{% block title %}Password Reset - {{ app_name }}{% endblock %}

{% block header %}Password Reset Request{% endblock %}

{% block content %}
<p>Hello {{ user_name }},</p>

<p>We received a request to reset your password for your {{ app_name }} account.</p>

<p style="text-align: center;">
    <a href="{{ reset_url }}" class="button">Reset Your Password</a>
</p>

<div class="highlight">
    <strong>Important:</strong>
    <ul>
        <li>This link will expire in {{ expires_in_hours }} hours</li>
        <li>If you didn't request this reset, you can safely ignore this email</li>
        <li>Your password won't be changed until you click the link above</li>
    </ul>
</div>

<p>If the button doesn't work, copy and paste this link into your browser:</p>
<p style="word-break: break-all; color: #666;">{{ reset_url }}</p>

<p>Best regards,<br>
<strong>The {{ app_name }} Team</strong></p>
{% endblock %}
